<header>
    <div id="logo-container">
        <i class="fas fa-compact-disc"></i> <a href="/">&ensp;Codeial</a>
    </div>

    <div id="nav-container">
        <% if(locals.user){ %>
            <div>
                <a style="display: flex;align-items: center;justify-content: center;" href="/users/profile/<%= user.id %>">
                    <img style="width: 32px;margin-right: 8px;" src="https://res.cloudinary.com/dilxqj69w/image/upload/v1627114103/5336880_oygcgf.png" alt="profile-icon">
                    &ensp;<%= user.name %></a>
            </div>
            
            <div>
                <a href="/users/sign-out">Sign Out</a>
            </div>
        <% } else{ %>
            <div>
                <a href="/users/sign-in">LogIn</a>            
            </div>
            
            <div>
                <a href="/users/sign-up">Sign Up</a>
            </div>
        <% } %>
    </div>
</header>