<h1>Reset Password</h1>

<form action="/reset-password/check-email" method="POST">
    <input type="email" name="email" placeholder="Email Address">
    <input type="submit" value="Reset Password">
</form>