<% if(!locals.is_valid){ %>
<h1>Invalid Token</h1>
<% }else{ %>
<h1>Enter New Password</h1>

<form action="/reset-password/<%= locals.new_url %>" method="POST">
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>

    <input type="submit" value="Change Password">
</form>
<% } %>