#feed-posts {
  display: flex; }
  #feed-posts #posts-container {
    width: 70%;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-family: sans-serif;
    color: white; }
    #feed-posts #posts-container h1 {
      font-size: 25px;
      color: white; }
    #feed-posts #posts-container form {
      width: 100%;
      position: relative;
      text-align: center; }
      #feed-posts #posts-container form textarea {
        width: 70%;
        background-color: #22212188;
        border: 2px solid lightgray;
        border-radius: 20px;
        font-size: 20px;
        padding: 10px;
        color: white; }
        #feed-posts #posts-container form textarea:focus {
          outline: none; }
      #feed-posts #posts-container form #post-btn {
        width: 150px;
        height: 50px;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: -25px;
        margin-left: -75px;
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid lightgray;
        color: white;
        font-weight: 700;
        font-size: 22px;
        cursor: pointer;
        transition: background-color,color 0.3s ease-in; }
        #feed-posts #posts-container form #post-btn:hover {
          background-color: white;
          color: black; }
    #feed-posts #posts-container #posts-list-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px; }
      #feed-posts #posts-container #posts-list-container .post-container {
        width: 80%;
        border: 2px solid lightgray;
        background-color: #22212188;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 70px; }
        #feed-posts #posts-container #posts-list-container .post-container .post-header {
          font-size: 26px;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center; }
        #feed-posts #posts-container #posts-list-container .post-container .comments-container {
          border-top: 2px solid lightgray;
          text-align: center; }
          #feed-posts #posts-container #posts-list-container .post-container .comments-container .comments {
            display: flex;
            flex-direction: column;
            margin-left: 120px; }
            #feed-posts #posts-container #posts-list-container .post-container .comments-container .comments .comment {
              width: 100%;
              display: flex;
              align-items: center;
              font-weight: 700;
              font-size: 18px;
              margin-bottom: 15px; }
              #feed-posts #posts-container #posts-list-container .post-container .comments-container .comments .comment .comment-content {
                margin-left: 30px;
                word-break: break-all; }
          #feed-posts #posts-container #posts-list-container .post-container .comments-container form input {
            width: 350px;
            height: 50px;
            font-size: 20px;
            background-color: transparent;
            color: white;
            border: 2px solid lightgray;
            border-radius: 20px;
            padding: 9px;
            margin-left: -272px; }
            #feed-posts #posts-container #posts-list-container .post-container .comments-container form input:focus {
              outline: none; }
          #feed-posts #posts-container #posts-list-container .post-container .comments-container form button {
            width: 150px;
            height: 50px;
            font-size: 20px;
            padding: 7px;
            background-color: black;
            color: white;
            margin-left: 10px;
            border: 2px solid lightgray;
            border-radius: 20px;
            font-weight: bold;
            transition: background-color,color 0.3s ease-in; }
            #feed-posts #posts-container #posts-list-container .post-container .comments-container form button:hover {
              cursor: pointer;
              background-color: white;
              color: black; }
  #feed-posts #users-container {
    width: 30%;
    border-left: 1px solid white;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-family: sans-serif; }
    #feed-posts #users-container #friends-container {
      border-bottom: 1px solid white; }
      #feed-posts #users-container #friends-container h1 {
        text-align: center; }
      #feed-posts #users-container #friends-container #friends {
        display: flex;
        flex-direction: column; }
    #feed-posts #users-container #all-users-container {
      border-top: 1px solid white;
      padding-top: 10px; }
      #feed-posts #users-container #all-users-container h1 {
        text-align: center; }
      #feed-posts #users-container #all-users-container #all-users {
        display: flex;
        flex-direction: column;
        padding-left: 80px;
        padding-top: 20px; }
